.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    padding: 0 20px;

    @include tablet {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}