// Colores
$primary-color: #7C5652;
$secondary-color: #2c2c2c;
$success-color: #28a745;
$error-color: #dc3545;
$text-light: #f0f0f0;
$text-dark: #333;
$background-dark: #3f3f3f;

// Fuentes
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Breakpoints
$mobile: 767px;
$tablet: 1080px;
$desktop: 1200px;

// Espaciados
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;